<p id="message"></p>

<script>
          const messageElement = document.getElementById("message");

      document.addEventListener('DOMContentLoaded', async function() {
        const token = "<%= token %>";
        try {
          const response = await axios.get(`https://group-project-cosc3060-cosc3061-2024b-g2-ylkb.onrender.com/api/auth/activate/${token}`);
          messageElement.innerText = response.data.message;
        } catch (error) {
          messageElement.innerText = error.response?.data?.message || "Error activating account";
        }
      })





</script>