<div class="bookingpage-container">
    <%- include('../partials/components/hotelinfobooking') %>
    <%- include('../partials/components/roomlist') %>
</div>
<%- include('../partials/components/bookingform') %>
