
    <link rel="stylesheet" href="/css/sitemap.css"> <!-- Link to the sitemap CSS file -->
<body>
    <div class="container">
        <h1>Sitemap</h1>
    
        <ul>
            <!-- Main Page: Home -->
            <li><a href="/">Home</a></li>
    
            <!-- Main Page: About Us -->
            <li>About Us
                <ul>
                    <li><a href="/about">Our Story</a></li>
                </ul>
            </li>
    
            <!-- Main Page: Profile -->
            <li>Profile
                <ul>
                    <li><a href="/profile?type=account">Profile Overview</a></li>
                    <li><a href="/profile?type=booking">Profile Booking</a></li>
                </ul>
            </li>
    
            <!-- Main Page: Forum -->
            <li>Forum
                <ul>
                    <li><a href="/forum">Forum Home</a></li>
                    <li><p>Discussions</p></li>
                    <li><p>Create New Post</p></li>
                </ul>
            </li>
    
            <!-- Main Page: Hotels -->
            <li>Hotels
                <ul>
                    <li><a href="/hotel">Hotel Listings</a></li>
                </ul>
            </li>
    
            <!-- Main Page: Booking -->
            <li>Booking
                <ul>
                    <li><a href="/booking">Booking</a></li>
                    <li><p>Current Booking</p></li>
                    <li><p>Past Booking</p></li>
                </ul>
            </li>
        </ul>
    
    </div>
    
    </body>
    </html>