#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 50% opacity */
  z-index: 999;
}


.booking-form-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: var(--sidebar--background-color);
    border-radius: 10px;
    box-shadow: 0 4px 12px var(--sidebar-shadow);
    position: fixed;
    top: -25px;
    left: 30%;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
 
  
  .booking-form-container button.close {
    background-color: #ff5a5f;
    border: none;
    color: white;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 50%;
    float: right;
    cursor: pointer;
  }
  
  .booking-form-container div {
    margin-bottom: 10px;
  }
  
  .booking-form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--sidebar--text-color);
  }
  
  .booking-form-container input[type="text"],
  .booking-form-container input[type="number"],
  .booking-form-container input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: var(--sidebar--background-color);
    color: var(--sidebar--text-color);
  }
  
  .booking-form-container input[type="number"]:disabled {
    background-color: #e9e9e9;
  }
  
  .booking-form-container h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .booking-form-container .availability {
    color: red;
    font-size: 14px;
  }
  
  .booking-form-container button[type="submit"] {
    background-color: #ff5a5f;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .booking-form-container button[type="submit"]:hover {
    background-color: #e54e53;
  }
  #availableRoomNumbers {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: var(--sidebar--background-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    outline: none;
    transition: border-color 0.3s ease;
    color: var(--sidebar--text-color);
  }
  
  #availableRoomNumbers:focus {
    border-color: #f35207;
  }
  
  #availableRoomNumbers option {
    padding: 10px;
  }
  /* For responsiveness */
  @media (max-width: 768px) {
    .booking-form-container {
      max-width: 90%;
      padding: 15px;
      border-radius: 8px;
      top: 5%;
      left: 6px;
      transform: translate(0, 0);
  }
  
    .booking-form-container input,
    .booking-form-container button[type="submit"] {
      font-size: 16px;
    }
  }