.bookings-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  background-color: var(--ipnut--background-color);
  position: relative;
  left: 30%;
  top: 10px;
  width: 60%;
  overflow-y: auto;
  margin: 50px;
  height: 600px;
  max-height: 90vh;
  border-radius: 10px;
  border: 1px solid var(--sidebar--border-color);
}

.booking-card {
  display: flex;
  align-items: center;
  background-color: var(--list--background-color);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  margin-top: 15px;
  position: relative;
}

.booking-card:hover {
  transform: translateY(-5px);
}

.hotel-img {
  width: 120px;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.booking-details {
  flex: 1;
}

.booking-details h3 {
  margin: 0;
  font-size: 18px;
  color: var(--sidebar--text-color);
}

.booking-details p {
  margin: 8px 0;
  color: var(--popup--text-color);
}

.delete-booking-btn {
  margin-left: auto;
  cursor: pointer;
  color: #da6b6b;
  transition: transform 0.2s ease;
}

.delete-booking-btn:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .bookings-list {
    margin-top: 500px;
    margin-left: -110px;
    width: 80%;
    padding: 20px;
    box-shadow: 0 4px 8px var(--sidebar-shadow);
    border-radius: 20px;
    border: 2px solid var(--user-profile--border-color);
  }

  .booking-card {
    flex-direction: row; /* Maintain row layout for mobile */
    align-items: center;
  }

  .hotel-img {
    width: 100px;
    margin-right: 10px;
  }

  .booking-details {
    text-align: left;
    flex: 1;
  }

  .delete-booking-btn {
    margin-left: auto;
    position: static; /* Make sure the button stays on the right */
  }
}
