.hotel-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.hotel-gallery {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.main-image {
    flex: 3;
    border-radius: 10px;
}

.main-image img {
    width: 100%;
    height: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.thumbnails {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.thumbnails img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
}

.thumbnails img:hover {
    transform: scale(1.05);
}

.hotel-info-details {
    background-color: var(--sidebar--background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px var(--sidebar-shadow);
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hotel-info-details h1 {
    font-size: 26px;
    font-weight: bold;
    color: var(--sidebar--text-color);
    margin-bottom: 10px;
}

.hotel-info-details p {
    font-size: 16px;
    color: var(--popup--text-color);
    margin: 5px 0;
}

.hotel-info-details .hotel-facilities {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.hotel-info-details .hotel-reviews {
    margin-top: 10px;
    font-size: 14px;
    color: var(--coal--text-color);
}

@media (max-width: 768px) {
    .hotel-info-details {
        padding: 15px;
    }

    .hotel-info-details h1 {
        font-size: 22px;
    }

    .hotel-info-details p {
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .hotel-gallery {
        flex-direction: column;
        gap: 20px;
    }

    .thumbnails {
        flex-direction: row;
    }

    .thumbnails img {
        width: 30%;
    }

    .hotel-info-details {
        width: 100%;
    }
}