/* General Popup Styling */
.popup-location {
  position: absolute; /* Switch to absolute positioning */
  top: 25vh;
  left: 30%;
  transform: translateX(-50%); /* Center horizontally */
  background-color: var( --sidebar--background-color);
  width: 50%;
  max-width: 600px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: none; /* Hidden by default */
  overflow-y: auto; /* Add scrolling in case of large content */
  max-height: 70vh; /* Add a maximum height for consistency */
}

.popup-location-inner {
  padding: 20px;
}

.popup-location-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.popup-location-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--sidebar--text-color);
}

.popup-location-content {
  margin-top: 20px;
  max-height: 400px;
  overflow-y: auto;
}

.popup-location-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.popup-location-button {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popup-location-image {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.popup-location-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.popup-location-details {
  flex-grow: 1;
}

.popup-location-name {
  font-size: 18px;
  font-weight: bold;
  color:var(--sidebar--text-color);
}

.popup-location-count {
  color: var(--popup--text-color);
  font-size: 14px;
}

.popup-location-close {
  cursor: pointer;
  font-size: 20px;
  color: #666;
}

/* Mobile View */
@media (max-width: 768px) {
  .popup-location {
      width: 90%; /* Reduce the width to better fit smaller screens */
      left: 5%; /* Adjust the left margin to center the popup */
      transform: none; /* No need for translateX on smaller screens */
      max-width: 100%; /* Ensure it takes up the full available width */
      max-height: 60vh; /* Adjust max height for smaller screens */
  }

  .popup-location-title {
    font-size: 20px;
  }

  .popup-location-content {
    max-height: 300px;
  }

  .popup-location-item {
    padding: 8px 0;
  }

  .popup-location-name {
    font-size: 16px;
  }

  .popup-location-count {
    font-size: 12px;
  }
}