.room-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}

.room-card {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--sidebar--border-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 12px var(--sidebar-shadow);
  background-color: var(--sidebar--background-color);
}

.room-card-left {
  display: flex;
  gap: 15px;
  align-items: center;
}

.room-image {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.room-details {
  flex: 1;
}

.room-details h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.room-amenities {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.room-amenities li {
  margin-bottom: 5px;
}

.room-card-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.room-card-right h4 {
  font-size: 18px;
  color: #ff5722;
}

.availability {
  color: #da6b6b;
  font-weight: bold;
}

.select-room-button {
  background-color: #ff5722;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.select-room-button:hover {
  background-color: #e64a19;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .room-list {
    margin-left: 0; /* Reset the margin for smaller screens */
  }

  .room-card {
    display: flex;
  }

  .room-card-left{
    width: 100%;
    flex-direction: column;
    display: flex;
    gap: 15px;
    align-items: flex-start;
  }
  .room-card-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
  }

  .room-image {
    width: 90%;
  }

  .select-room-button {
    width: 100%;
    padding: 12px;
  }
}
