/* Update Image Modal Styles */

.update-img-modal {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--sidebar--background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  z-index: 1000;
  font-family: Arial, sans-serif;

}

.update-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

/* Header Update Section */
.header-update {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

.header-update img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.header-update h2 {
  font-size: 18px;
  font-weight: bold;
  color:var(--sidebar--text-color);
}

/* Content and Inputs */
.update-img-modal p {
  font-size: 14px;
  color:var(--sidebar--text-color);
  margin-bottom: 16px;
}

.update-img-modal input[type='file'],
.update-img-modal input[type='text'] {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #dadce0;
  border-radius: 4px;
  font-size: 14px;
  color: #333333;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.update-img-modal input[type='file']:focus,
.update-img-modal input[type='text']:focus {
  border-color: #1a73e8; /* Focused state */
  outline: none;
}

/* Button Styles */
.update-img-modal button {
  color: var(--sidebar--text-color);
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  background-color: var(--changeImg--background-color);
}

/* Close Button */
.update-img-modal .close-update {
  display: flex;
  position: absolute;
  top: 16px; /* Adjust the top padding as needed */
  right: 16px; /* Align it to the right */
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: var(--about-text-section--text-color);
  transition: color 0.3s ease;
  flex-direction: row-reverse;
}

/* Accessibility Enhancements */
.update-img-modal input[type='file'],
.update-img-modal input[type='text'] {
  font-family: inherit; /* Use the same font as the modal */
  background-color: var(--sidebar--background-color);
}

.update-img-modal button:focus,
.update-img-modal .close-update:focus {
  outline: 2px solid #1a73e8;
  outline-offset: 2px;
}

.update-img-modal button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Responsive Adjustments */
@media screen and (max-width: 480px) {
  .update-img-modal {
      width: 90%;
      padding: 20px;
  }

  .header-update h2 {
      font-size: 16px;
  }
  
  .update-img-modal button {
      width: 1px; /* Full-width buttons on smaller screens */
  }
}
